article {
  h1 {
    color: #17af95;
  }

  h2 {
    color: #17af95;
  }

  h4 {
    font-size: 0.75rem !important;
  }

  h5, h6 {
    font-size: 0.7rem !important;
    color: black !important;
    text-transform: none !important;
  }

  h6 {
    font-size: 0.75rem !important;
  }

  img {
    margin-top: 5px;
  }

  h1>.pdf-order,
  h2>.pdf-order,
  h3>.pdf-order {
    padding-left: 6px;
    // padding-right: 0.8rem;
  }
}
