@page {
  size: a4 portrait;
  margin: 20mm 10mm 20mm 10mm;
  counter-increment: page;
  white-space: pre;
  color: black;
  border-top: 1px solid #17af95;
  padding-top: 15px;
  border-bottom: 1px solid black;

  @top-left {
    font-size: 10pt;
    content: string(chapter);
  }

  @bottom-left {
    font-size: 10pt;
    content: counter(page)' of 'counter(pages);
  }

  @bottom-right {
    font-size: 10pt;
    content: string(copyright);
  }
}

@media print {
  body {
    background: none;
    background-color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %headings !optional;
}

// ol {
//   margin-left: 0.7rem;
// }

article,
section + section {
  page-break-before: always;
  min-height: 100vh;

  &,
  %headings,
  div.tabbed-content--wrap > .tabbed-content {
    clear: both;
  }

  /* Defining all page breaks */
  %headings,
  img {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  a,
  blockquote,
  table,
  ul,
  ol {
    page-break-before: avoid;
    page-break-inside: avoid;
  }

  pre,
  dt + dd {
    page-break-before: avoid;
  }

  %headings + ul,
  %headings + ol {
    page-break-inside: auto;
  }

  div.admonition {
    page-break-inside: avoid;
  }

  div.tabbed-content--wrap {
    page-break-inside: avoid;
  }

  * + div.highlight,
  * + div.tabbed-set {
    page-break-before: avoid;
  }
}

section.two-columns {
  columns: 2;
  column-gap: 1cm;
}
